[submodule "ina260/lib/pugixml"]
	path = ina260/lib/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "ina260/lib/date"]
	path = ina260/lib/date
	url = https://github.com/HowardHinnant/date.git
[submodule "ina260/lib/args"]
	path = ina260/lib/args
	url = https://github.com/Taywee/args.git
[submodule "ina260/lib/libsocket"]
	path = ina260/lib/libsocket
	url = https://github.com/dermesser/libsocket.git
