rpi01 ansible_ssh_host=1.1.1.1
rpi02 ansible_ssh_host=1.1.1.1
rpi03 ansible_ssh_host=1.1.1.1
rpi04 ansible_ssh_host=1.1.1.1

[master]
rpi01

[slave]

[cluster:children]
master
slave

[cluster:vars]
ansible_ssh_user=pi
ansible_ssh_pass=raspberry
